<div class="flex">
    <h2 mat-dialog-title >
        Are You Sure You Want to Delete Physician</h2>
    <mat-dialog-actions>
      <button mat-mini-fab color="warn" mat-dialog-close><mat-icon>close</mat-icon></button>
      </mat-dialog-actions>
</div>
<mat-dialog-content>
    <!-- <h3>Physician Id : {{data.physicianData.physicianId}}</h3> -->
    <h3>Name: {{data.physicianData.name}}</h3>
    <h5>Position: {{data.physicianData.position}}</h5>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="warn" (click)="deletePhysician()">Delete</button>
  </mat-dialog-actions>  